/* #navbarScroll {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} */

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2.63vw 4.67vw 0.87vw 4.67vw;
    padding: 3.44vw 1.46vw 3.07vw 7.32vw;
    background-color: white;
    align-items: center;
    display: flex;
    border-radius: 14px;
  }
  #content1 div h1 {
    padding-bottom: 30px;
  }
  #content1 div p {
    color: hsl(208, 11%, 55%);
    width: 37.48vw;
  
    padding-bottom: 30px;
  }
  #content1 div img {
    width: 65%;
    height: auto;
  }